.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo {
  width: 500px;
}
@media (max-width: 767px) {
  .logo {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 240px;
  }
}